
@font-face {
	font-family: NeutraDemi;
	src: url("../fonts/NeutraTextTFLightDemi.ttf");
	font-weight: lighter;
}

@font-face {
  font-family: KaufmannBold;
  src: url("../fonts/Kaufmann-Bold.otf");
}

@font-face {
  font-family: NeutraThin;
  src: url("../fonts/NeutraDisplayThinAlt.ttf");
}

html, body {
  height: 100%;
  min-height: 100%;
  margin:0;
  padding: 0;
}

#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

.panels {
    position:relative;

    width:100%;
    z-index:100;
}

#a{
    background-image: url(../images/apple-flowers-iphone-desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position:fixed;
    top:0;
    z-index:-99;
    height: 100%;
}

#b{
   margin-top: 100%;
   background: #fff;
   margin-bottom: 0;
}

#c{
  margin: 0;
  background: #fff;
}

#svgTitle {
  height: 100%;
  text-align: center;

}

#nameSvg{
  padding: 50px;
}

#nameTitle{
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 5px;
}

#titleAbout{
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  color: #000;
  margin: 10px; 
}

#nav {
  list-style:none;
  margin:20;
  padding:0;
  text-align:center;
  width: 100%;
  position: absolute;
  z-index: 200;
}

#nav ul {
  margin: 0;
  padding: 0;   
  background-color: #fff; 
}

#nav li {
  display:inline;
  background-color: #fff;
  color: #000;
  list-style-type: none;
}

#nav li a {
  display:inline-block;
  text-decoration: none;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 9px;
  letter-spacing: 4px;
}

#nav li a:hover {
   text-decoration: none;
   opacity: 0.5;
}






.projectsDisplay {
  text-align: center;
  background-color: #fff;
  margin-top: 50px;
  margin-right: 50px;
  text-transform: uppercase;
  
  font-size: 12px;
  font-family: NeutraDemi;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 4px;
  
  color: black;
  width: 100%;

  text-decoration: none;
}

#portImg img:hover{
  opacity: 0.5;
  color: #ae9b81;
}
#portImg {
  margin-top: 80px;
}
#projectImg{
  position: relative;
  text-align: center;
}

#projectLink {
    padding-top: 20px;  
    font-family: NeutraDemi;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.25px;
    text-transform:uppercase;
    line-height: 20px;  
    background-color: #fff;
    text-decoration: none;
}

#webLink {
    font-family: NeutraDemi;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.25px;
    text-transform: lowercase;
    line-height: 18px;
    color: #C0C0C0;
    text-decoration: none;
}
#webLink a {
    color: #000;
    text-decoration: none;
}
#webLink a:hover {
    color: #ae9b81;
}

.aboutDisplay{
}




#aboutDescription {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 40px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}




#contactInfo { 
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:12px;
    letter-spacing: 1.25px;
    text-transform:lowercase;
    line-height: 18px;
    color: #000;
    margin: 0;
}


.contactBlock {
  padding-right: 250px;
  padding-left: 250px;
  padding-bottom: 250px;
  padding-top: 100px;
  background-color: #fff;
  text-align: center;


}

#contactInfo a{
  text-decoration: none;
  color: black;
}

#contactInfoTop a{
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1.25px;
  text-decoration: none;
  color: black;
  font-size: 9px;
}


#fadeInContact {
    opacity:0;

}

#fadeInAbout{
    opacity:0;
}

#fadeInhr {
  opacity: 0;
}

#fadeInProjects{
    opacity: 0;
}





#contactButtons{
  padding: 15px;
}

#contactButtons:hover{
  opacity: 0.5;
}
.copyRight {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 4px;
  background-color: #fff;
  margin-top: 0;
}


#svgProjectHeader{
  text-align: center;

}

#svgAboutHeader{
  text-align: center;
  padding-top: 100px;
}



/*SVG ANIMATIONS*/
.st0 {
  fill:none;
  stroke-width: 0.25px;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  stroke:#000;
}

.fill {
    fill:none;
}

.a {
  fill:none;
  stroke-width: 0.25px;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  stroke:#000;
}

.aFill {
    fill:none;
}

.r {
  fill:none;
  stroke-width: 0.25px;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  stroke:#000;
}

.rFill {
    fill:none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes filling {
  from { fill: none; }
  to { fill: #000;}
}

@keyframes filling {
  from { fill:none; }
  to { fill: #000; }
}








 